package components

templ LoginPage() {
	@BasePage("Log In") {
		<section class="section is-medium">
		<form action="/login" method="POST">
			<div>
				<input class="input" type="text" placeholder="username" id="username" name="username"/>
			</div>
			<div>
				<input class="input" type="password" placeholder="password" id="password" name="password"/>
			</div>
			<div>
				<button class="button is-primary">Log In</button>
			</div>
		</form>
		</section>
	}
}
