package components

templ UserCreatePage() {
	@BasePage("Log In") {
		<section class="section is-medium">
		<form action="/user/create" method="POST">
			<div>
				<input class="input" type="text" placeholder="username" id="username" name="username"/>
			</div>
			<div>
				<input class="input" type="password" placeholder="password" id="password" name="password"/>
			</div>
			<div>
				<button class="button is-primary">Create User</button>
			</div>
		</form>
		</section>
	}
}
